html {
 overflow-y: scroll;
}

a:link,
a:visited,
a:hover,
a:active
{
	color: #ffffff;
}

#header
{
    position: absolute;  
    top: 0;  
	left: 0;
	right: 0;
	z-index:1;
	color: #ffffff;
    background-color: #0f0f0f;
    opacity: 0.8;
    text-align:center;
}
#footer
{
    position: absolute;  
    bottom: 0;  
	left: 0;
	right: 0;
	z-index:1;
	color: #ffffff;
    background-color: #0f0f0f;
    opacity: 0.8;
    text-align:center;
}

#left
{
    float: left;
}

#right
{
    float: right;
}

#content
{
	width: 100%;
	position: fixed;
    top: 0;  
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index:0;
}

#image
{
	position: fixed;
    top: 0;  
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index:-1;
}
#font-xx-large
{
    font-size: xx-large;
    font-weight: bolder;
}